<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.sgtgtug.android.hackathon.helpme"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/ic_launcher"
    		     android:name=".HelpMEApp" 
    			 android:label="@string/app_name" 
    			 android:theme="@android:style/Theme.Light" >
        <activity android:name=".HelpMEActivity"
                  android:label="@string/app_name" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    <activity android:name=".ContactManager"></activity>
	    <activity android:name=".HelpMEPreferences"></activity>
</application>
    <uses-sdk android:minSdkVersion="8" />
    <!-- Permission for sending sms message in case of emergency -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- Permissions to access coarse and fine grained case of emergency -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Permission to send email in case of emergency -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Permission to read contacts that will be notified case of emergency -->
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
</manifest> 